<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>thxyew</title>
</head>
<body>
    {% for n in all_notes %}
        <h3>{{n.title}}</h3>
        <p>{{n.pub_date}}</p>
        <p>Written by: {{n.from_person}}</p>
        <p><a href="/notes/{{ n.pk }}">Dear: {{n.to_person}}</a></p>
        <p>Subject: {{n.subject}}</p>
        <p>{{n.note_body}}</p>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Dear: {{n.to_person}}" data-via="marthakelly" data-hashtags="thxeyew">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    {% endfor %}
    
</body>
</html>